/minimal
/_site
.sass-cache
*.log
.env
*.img
*.zip
*.rar
.jekyll-cache
.jekyll-metadata
**/node_modules/
**/node_modules/
**/.yarn/cache
**/.yarn/versions
**/.yarn/unplug*
**/.yarn/*.gz
yarn.lock
tmp/